.body {
  display: flex;
  flex-direction: row;
}

.errors p {
  padding: 0.25rem 3rem;
}
.errors > h3 {
  text-align: center;
}

.editor,
.viewer {
  min-height: 100%;
}

.editor {
  width: 30%;
}

.viewer {
  width: 70%;
}

.editor > div,
.viewer > * {
  width: 100%;
  min-height: 100vh;
}
